.Club-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

@media screen and (max-width:576px) {
    .Club-container{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (min-width:577px) and (max-width:992px){
   .Club-container{
    grid-template-columns: repeat(2, 1fr);
   }
}